@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    font-family: 'League Spartan', sans-serif;
    --title-color: #512051;
    --letter-color: #927B91;
    font-size: 62.5%;
}

header h1{
    font-weight: 700;
    color: var(--title-color);
    font-size: 4rem;
    text-align: center;
    margin: 8rem 2.4rem 1.7rem 2.4rem;
    line-height: 3.2rem;
}

header p{
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.5rem;
    margin: 0 2.4rem 3.4rem 2.4rem;
    color: var(--letter-color);
}

.rates{
    background-color: #F7F2F7;
    width: 32.7rem;
    height: 7.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    border-radius: .8rem;
}

.rates p{
    color: var(--title-color);
    font-size: 1.7rem;
    line-height: 1.6rem;
    text-align: center;
    font-weight: 700;
}


.stars{
    margin: 0 auto;
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
}

.user-comment{
    background-color: var(--title-color);
    color: wheat;
    font-size: 1.7rem;
    width: 32.7rem;
    height: 22rem;
    margin: 0 auto;
    border-radius: .8rem;
    margin-bottom: 1.6rem;
}

.user-comment:nth-child(1){
    margin-top: 4.6rem;
}


.user-comment p{
    color: white;
}

.user-comment img{
    width: 4rem;
    position:absolute;
    margin-top: 3.5rem;
    margin-left: 3.2rem;
}

.user-comment .comment{
    width: 26.3rem;
    margin-left: 3.6rem;
}

.user-id{
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-left: 8.6rem;
    padding-bottom: 2.4rem;
}

.user-id h2{
    color: white;
}

.user-id .job{
    color: #EE69A4;
}

@media screen and (min-width: 1025px){
    header h1{
        text-align: start;
        position: absolute;
        width: 44.5rem;
        font-size: 5.6rem;
        top: 6rem;
        left: 14rem;
    }

    header p{
        position: absolute;
        top: 26rem;
        font-size: 1.9rem;
        width: 44.5rem;
        left: 14rem;
        text-align: start;
    }

    .rates{
        width: 42rem;
    }

    .first{
        position: absolute;
        top: 16rem;
        left: 73.5rem;
    }

    .second{
        position: absolute;
        top: 25rem;
        left: 78.3rem;
    }

    .third{
        position: absolute;
        top: 34rem;
        left: 83rem;
    }

    .stars{
        position: absolute;
        top: 1.2rem;
        left: 3rem;
    }

    .rates p{
        position: absolute;
        top: 2.8rem;
        left: 15rem;
    }

    .user-comment{
        position: absolute;
        width: 35rem;
    }

    .fourth{
        top: 43rem;
        left: 16rem;
    }

    .fifth{
        left: 53.5rem;
        top: 49rem;
    }

    .sixth{
        top: 51rem;
        left: 90.5rem;
       
    }

}
